
.primary-btn{
    background: var(--gradientbg);
    /* box-shadow: var(--boxshadow); */
    color: var(--browndark) !important;
    border-radius: 6px;
    transition: 0.4s;
    position: relative;
    padding: 15px 35px;
    font-size: 14px;
    font-weight: 500;
    border: 0 none;
    text-decoration: none;
    text-transform: uppercase;
}
.primary-btn:hover{
    transform: translateY(-3px);
    color: #fff !important;
    background: var(--browndark);
}
/* .logo-img {
    filter: invert(1);
} */
header {
    position: fixed;
    top: 0;
    transition: box-shadow .3s ease;
    width: 100%;
    padding: 0 64px;
  }
.header-wrapper a{
    color: #fff;
}
.header-wrapper a:focus{
    color: var(--brownlight);
}
.header-wrapper a:active{
    color: var(--brownlight) !important;
}
.header-wrapper a:hover{
    color: var(--brownlight);
}